version: 2

jobs:
  build:
    docker:
    # Use the same Docker base as the project
      - image: python:3.7.3-stretch
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv .devops-capstone
            source .devops-capstone/bin/activate
            make install
        
      - save_cache:
          paths:
          - ./.devops-capstone
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run lint
          command: |
            source .devops-capstone/bin/activate
            make lint  

  build-docker: 
    environment:
      IMAGE_NAME: newthingade/capstone-project
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t $IMAGE_NAME:latest .
          
  publish-latest:
    environment:
      IMAGE_NAME: capstone
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - setup_remote_docker
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $IMAGE_NAME:latest
workflows:
    jobs:
      - build
      - build-docker:
          filters:
            branches:
              only: main
      - publish-latest:
          requires:
            - build-docker
          filters:
            branches:
              only: main